;; Analyzed by ClojureScript 1.7.122
{:use-macros {html hiccups.core}, :excludes #{}, :name unisuperdivest.about, :imports nil, :requires {util unisuperdivest.util, unisuperdivest.util unisuperdivest.util, hiccupsrt hiccups.runtime, hiccups.runtime hiccups.runtime}, :uses {mailto unisuperdivest.util, tabulate unisuperdivest.util, h hiccups.runtime, link unisuperdivest.util}, :defs {page {:protocol-inline nil, :meta {:file "/Volumes/Space/personal/dev/unisuperdivest/src/unisuperdivest/about.cljs", :line 7, :column 7, :end-line 7, :end-column 11, :arglists (quote ([]))}, :name unisuperdivest.about/page, :variadic false, :file "src/unisuperdivest/about.cljs", :end-column 11, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 7, :end-line 7, :max-fixed-arity 0, :fn-var true, :arglists (quote ([]))}}, :require-macros {hiccups hiccups.core, hiccups.core hiccups.core}, :cljs.analyzer/constants {:seen #{:content :name :title :id :class :b}, :order [:name :title :content :b :id :class]}, :doc nil}